# -*- coding: utf-8 -*-

"""
    telstrasmsmessagingapi.controllers.sms_controller

    This file was automatically generated by APIMATIC v2.0 ( https://apimatic.io ).
"""

from .base_controller import BaseController
from ..api_helper import APIHelper
from ..configuration import Configuration
from ..models.message_sent_response import MessageSentResponse
from ..models.outbound_poll_response import OutboundPollResponse
from ..models.inbound_poll_response import InboundPollResponse
from ..exceptions.error_error_exception import ErrorErrorException

class SMSController(BaseController):

    """A Controller to access Endpoints in the telstrasmsmessagingapi API."""


    def create_messages_sms_send(self,
                                 authorization,
                                 payload):
        """Does a POST request to /messages/sms.

        Send an SMS to a Australian or International mobile phone.

        Args:
            authorization (string): A header in the format 'Bearer
                {access_token}' - get the token by using the OAuth API with
                the scope 'SMS'
            payload (SendSMSRequest): A JSON or XML payload containing the
                recipient's phone number and text message. The recipient
                number should be in the format '04xxxxxxxx' where x is a
                digit

        Returns:
            MessageSentResponse: Response from the API. Success

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/messages/sms'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare headers
        _headers = {
            'accept': 'application/json',
            'content-type': 'application/json; charset=utf-8',
            'Authorization': authorization
        }

        # Prepare and execute request
        _request = self.http_client.post(_query_url, headers=_headers, parameters=APIHelper.json_serialize(payload))
        _context = self.execute_request(_request)

        # Endpoint and global error handling using HTTP status codes.
        if _context.response.status_code == 400:
            raise ErrorErrorException('Invalid or missing request parameters', _context)
        elif _context.response.status_code == 401:
            raise ErrorErrorException('Invalid or no credentials passed in the request', _context)
        elif _context.response.status_code == 403:
            raise ErrorErrorException('Authorization credentials passed and accepted but account does not have permission', _context)
        elif _context.response.status_code == 404:
            raise ErrorErrorException('The requested URI does not exist', _context)
        elif _context.response.status_code == 405:
            raise ErrorErrorException('The requested resource does not support the supplied verb', _context)
        elif _context.response.status_code == 415:
            raise ErrorErrorException('API does not support the requested content type', _context)
        elif _context.response.status_code == 422:
            raise ErrorErrorException('The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request', _context)
        elif _context.response.status_code == 500:
            raise ErrorErrorException('An internal error occurred when processing the request', _context)
        elif _context.response.status_code == 501:
            raise ErrorErrorException('The HTTP method being used has not yet been implemented for the requested resource', _context)
        elif _context.response.status_code == 503:
            raise ErrorErrorException('The service requested is currently unavailable', _context)
        self.validate_response(_context)

        # Return appropriate type
        return APIHelper.json_deserialize(_context.response.raw_body, MessageSentResponse.from_dictionary)

    def get_messages_sms_outgoing_one(self,
                                      authorization,
                                      message_id):
        """Does a GET request to /messages/sms/{messageId}/status.

        Retrieve the status of a single outgoing SMS message.

        Args:
            authorization (string): Authorization header in the format 'Bearer
                {access_token}' - get the token by using the OAuth API with
                the scope 'SMS'
            message_id (string): Unique identifier of a message - it is the
                value returned from a previous POST call to
                https://api.telstra.com/v2/messages/sms

        Returns:
            OutboundPollResponse: Response from the API. Success

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/messages/sms/{messageId}/status'
        _query_builder = APIHelper.append_url_with_template_parameters(_query_builder, { 
            'messageId': message_id
        })
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare headers
        _headers = {
            'accept': 'application/json',
            'Authorization': authorization
        }

        # Prepare and execute request
        _request = self.http_client.get(_query_url, headers=_headers)
        _context = self.execute_request(_request)

        # Endpoint and global error handling using HTTP status codes.
        if _context.response.status_code == 400:
            raise ErrorErrorException('Invalid or missing request parameters', _context)
        elif _context.response.status_code == 401:
            raise ErrorErrorException('Invalid or no credentials passed in the request', _context)
        elif _context.response.status_code == 403:
            raise ErrorErrorException('Authorization credentials passed and accepted but account does not have permission', _context)
        elif _context.response.status_code == 404:
            raise ErrorErrorException('The requested URI does not exist', _context)
        elif _context.response.status_code == 405:
            raise ErrorErrorException('The requested resource does not support the supplied verb', _context)
        elif _context.response.status_code == 415:
            raise ErrorErrorException('API does not support the requested content type', _context)
        elif _context.response.status_code == 422:
            raise ErrorErrorException('The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request', _context)
        elif _context.response.status_code == 500:
            raise ErrorErrorException('An internal error occurred when processing the request', _context)
        elif _context.response.status_code == 501:
            raise ErrorErrorException('The HTTP method being used has not yet been implemented for the requested resource', _context)
        elif _context.response.status_code == 503:
            raise ErrorErrorException('The service requested is currently unavailable', _context)
        self.validate_response(_context)

        # Return appropriate type
        return APIHelper.json_deserialize(_context.response.raw_body, OutboundPollResponse.from_dictionary)

    def get_messages_sms_outgoing_all(self,
                                      authorization):
        """Does a GET request to /messages/sms/outgoing.

        Retrieve the status for all recent outgoing SMS messages

        Args:
            authorization (string): Authorization header in the format 'Bearer
                {access_token}' - get the token by using the OAuth API with
                the scope 'SMS'

        Returns:
            list of OutboundPollResponse: Response from the API. Success

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/messages/sms/outgoing'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare headers
        _headers = {
            'accept': 'application/json',
            'Authorization': authorization
        }

        # Prepare and execute request
        _request = self.http_client.get(_query_url, headers=_headers)
        _context = self.execute_request(_request)

        # Endpoint and global error handling using HTTP status codes.
        if _context.response.status_code == 400:
            raise ErrorErrorException('Invalid or missing request parameters', _context)
        elif _context.response.status_code == 401:
            raise ErrorErrorException('Invalid or no credentials passed in the request', _context)
        elif _context.response.status_code == 403:
            raise ErrorErrorException('Authorization credentials passed and accepted but account does not have permission', _context)
        elif _context.response.status_code == 404:
            raise ErrorErrorException('The requested URI does not exist', _context)
        elif _context.response.status_code == 405:
            raise ErrorErrorException('The requested resource does not support the supplied verb', _context)
        elif _context.response.status_code == 415:
            raise ErrorErrorException('API does not support the requested content type', _context)
        elif _context.response.status_code == 422:
            raise ErrorErrorException('The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request', _context)
        elif _context.response.status_code == 500:
            raise ErrorErrorException('An internal error occurred when processing the request', _context)
        elif _context.response.status_code == 501:
            raise ErrorErrorException('The HTTP method being used has not yet been implemented for the requested resource', _context)
        elif _context.response.status_code == 503:
            raise ErrorErrorException('The service requested is currently unavailable', _context)
        self.validate_response(_context)

        # Return appropriate type
        return APIHelper.json_deserialize(_context.response.raw_body, OutboundPollResponse.from_dictionary)

    def get_messages_sms_incoming(self,
                                  authorization):
        """Does a GET request to /messages/sms/incoming.

        Retrieve the unread incoming SMS messages

        Args:
            authorization (string): Authorization header in the format 'Bearer
                {access_token}' - get the token by using the OAuth API with
                the scope 'SMS'

        Returns:
            list of InboundPollResponse: Response from the API. Success

        Raises:
            APIException: When an error occurs while fetching the data from
                the remote API. This exception includes the HTTP Response
                code, an error message, and the HTTP body that was received in
                the request.

        """

        # Prepare query URL
        _query_builder = Configuration.base_uri
        _query_builder += '/messages/sms/incoming'
        _query_url = APIHelper.clean_url(_query_builder)

        # Prepare headers
        _headers = {
            'accept': 'application/json',
            'Authorization': authorization
        }

        # Prepare and execute request
        _request = self.http_client.get(_query_url, headers=_headers)
        _context = self.execute_request(_request)

        # Endpoint and global error handling using HTTP status codes.
        if _context.response.status_code == 400:
            raise ErrorErrorException('Invalid or missing request parameters', _context)
        elif _context.response.status_code == 401:
            raise ErrorErrorException('Invalid or no credentials passed in the request', _context)
        elif _context.response.status_code == 403:
            raise ErrorErrorException('Authorization credentials passed and accepted but account does not have permission', _context)
        elif _context.response.status_code == 404:
            raise ErrorErrorException('The requested URI does not exist', _context)
        elif _context.response.status_code == 405:
            raise ErrorErrorException('The requested resource does not support the supplied verb', _context)
        elif _context.response.status_code == 415:
            raise ErrorErrorException('API does not support the requested content type', _context)
        elif _context.response.status_code == 422:
            raise ErrorErrorException('The request is formed correctly, but due to some condition the request cannot be processed e.g. email is required and it is not provided in the request', _context)
        elif _context.response.status_code == 500:
            raise ErrorErrorException('An internal error occurred when processing the request', _context)
        elif _context.response.status_code == 501:
            raise ErrorErrorException('The HTTP method being used has not yet been implemented for the requested resource', _context)
        elif _context.response.status_code == 503:
            raise ErrorErrorException('The service requested is currently unavailable', _context)
        self.validate_response(_context)

        # Return appropriate type
        return APIHelper.json_deserialize(_context.response.raw_body, InboundPollResponse.from_dictionary)
